{% extends "../catalogo/layouts/layout.html" %}
{% load static %}
{% block content %}

{% include "partials/guest/header.html" %} 



  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">
        <div class="col-lg-8 col-sm-12">
            <div class="gallery-item h-100">
              <img src="{{ foto.path.url }}" class="img-fluid" alt="{{ foto.name }}">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                {% if status == "like" %}
                <a href="{% url 'deslike' foto.id %}" class="details-link"><i class="bi bi-hand-thumbs-up-fill">{{foto.like}}</i></a>
                {% else %}
                <a href="{% url 'like' foto.id %}" class="details-link"><i class="bi bi-hand-thumbs-up">{{foto.like}}</i></a>
                {% endif %}
              </div>
            </div>
          </div>


        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>{{foto.name}}</h2>
              <p>
                {{foto.subtitle}}
              </p>
              <p>
                {{foto.description}}
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Aqui nosso sistema demonstra cada foto da nossa linda empresa!
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>{{foto.user}}</h3>
                  <h4>{{foto.category}}</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Informações da Imagem</h3>
              <ul>
                <li><strong>Categoria</strong> <span>{{foto.category}}</span></li>
                <li><strong>Desenvolvedor</strong> <span>{{foto.user}}</span></li>
                <li><strong>Data do Projeto</strong> <span>{{foto.date_photography}}</span></li>
                <li><strong>URL do Projeto</strong> <a href="{% url "index" %}">www.nascimento.com</a></li>
                <li><a href="{% url "index" %}" class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Single Section -->

  </main><!-- End #main -->

  {% include "partials/guest/footer.html" %}


{% endblock %}