{% extends "catalogo/layouts/layout.html" %}
{% load static %}
{% block content %}

{% include "partials/guest/header.html" %} 
{% include "partials/_alertas.html"%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Eu sou <span>Igor Nascimento</span> instrutor das aulas de programação com python.</h2>
          <p>Nesse exemplo estamos utilizando o framework Django para agilizar o processo de desenvolvimento de um sistema de catalogo.</p>
          <a href="{% url 'login' %}" class="btn-get-started">Realize o login.</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
          <!--card foto-->
          {%include 'partials/guest/card.html'%}

        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->

{% include "partials/guest/footer.html" %}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>


{% endblock %}