{% load static %}
{% for foto in fotos %}
<div class="col-xl-3 col-lg-4 col-md-6">
    <div class="gallery-item h-100">
      <img src="{{ foto.path.url }}" class="img-fluid" alt="{{ foto.name }}">
      <div class="gallery-links d-flex align-items-center justify-content-center">
        <a href="{{ foto.path.url }}" title="{{ foto.name }}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
        <a href="{% url 'detalhes' foto.id %}" class="details-link"><i class="bi bi-arrows-fullscreen"></i></a>
      </div>
    </div>
  </div>
{% endfor %}